USE [master]
GO
/****** Object:  Database [C7V3]    Script Date: 2016/3/28 16:09:17 ******/
CREATE DATABASE [C7V3] ON  PRIMARY 
( NAME = N'C7V3', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\C7V3.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'C7V3_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\C7V3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C7V3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C7V3]
GO
/****** Object:  Table [dbo].[SYS_ACTION]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ACTION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[MenuId] [bigint] NULL,
	[MenuName] [nvarchar](50) NULL,
	[ControlId] [nvarchar](50) NULL,
	[ControlType] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ACTION_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ACTION_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ACTION_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ACTION_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_ACTION_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ACTION_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ACTION_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_ACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_DEPARTMENT]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_DEPARTMENT](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Name] [nvarchar](50) NULL,
	[SortIndex] [int] NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastUpdateBy] [nvarchar](50) NOT NULL,
	[LastUpdateDate] [datetime] NOT NULL,
	[Active] [bit] NOT NULL,
	[UserBelongTo] [bigint] NOT NULL,
	[CmpyBelongTo] [bigint] NOT NULL,
 CONSTRAINT [PK_SYS_DEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_MENU]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MENU](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentId] [bigint] NULL,
	[Name] [nvarchar](50) NULL,
	[ImageUrl] [nvarchar](50) NULL,
	[NavigateUrl] [nvarchar](50) NULL,
	[SortIndex] [int] NULL,
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_MENU_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_MENU_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_MENU_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_MENU_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_MENU_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_MENU_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_MENU_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_MENU] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_ROLE]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ROLE_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ROLE_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ROLE_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ROLE_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_ROLE_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ROLE_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ROLE_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_ROLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_ROLE_MENU_ACTION]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_ROLE_MENU_ACTION](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NULL,
	[RoleName] [nvarchar](50) NULL,
	[MenuId] [bigint] NULL,
	[MenuName] [nvarchar](50) NULL,
	[ActionId] [bigint] NULL,
	[ActionName] [nvarchar](50) NULL,
	[ControlId] [nvarchar](50) NULL,
	[ControlType] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_ROLE_MENU_ACTION_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_ROLE_MENU_ACTION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_USER]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[DepartmentId] [bigint] NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Enabled] BIT NOT NULL DEFAULT(1),
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_USER_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_USER_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_USER_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_USER_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_USER_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_USER_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_USER_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_USER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYS_USER_ROLE]    Script Date: 2016/3/28 16:09:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER_ROLE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[RoleId] [bigint] NULL,
	[CreateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_CreateBy]  DEFAULT (''),
	[CreateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_CreateDate]  DEFAULT (getdate()),
	[LastUpdateBy] [nvarchar](50) NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_LastUpdateBy]  DEFAULT (''),
	[LastUpdateDate] [datetime] NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_LastUpdateDate]  DEFAULT (getdate()),
	[Active] [bit] NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_Active]  DEFAULT ((1)),
	[UserBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_UserBelongTo]  DEFAULT ((0)),
	[CmpyBelongTo] [bigint] NOT NULL CONSTRAINT [DF_SYS_USER_ROLE_CmpyBelongTo]  DEFAULT ((0)),
 CONSTRAINT [PK_SYS_USER_ROLE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_CreateBy]  DEFAULT ('') FOR [CreateBy]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_LastUpdateBy]  DEFAULT ('') FOR [LastUpdateBy]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_LastUpdateDate]  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_UserBelongTo]  DEFAULT ((0)) FOR [UserBelongTo]
GO
ALTER TABLE [dbo].[SYS_DEPARTMENT] ADD  CONSTRAINT [DF_SYS_DEPARTMENT_CmpyBelongTo]  DEFAULT ((0)) FOR [CmpyBelongTo]
GO
USE [master]
GO